extends partial/master
block contenido
    .contenido-principal
        if error
            .alert.alert-danger.ml-5(role="alert" style="width:400px;") #{error}
        if exito
            .alert.alert-success.ml-5(role="alert" style="width:400px;") #{exito}
        .form(style="width: 800px; padding: 15px")
            h2.title Generar Certificado
            select#combo.form-select.mb-3.animate__animated.animate__backInLeft(aria-label="Default select example" style="width: 50%; margin: auto; padding: auto")
                option(selected="") Buscar Por:
                option(value="1") DNI
                option(value="2") Código del Estudiante
                option(value="3") Nombre y Apellidos
            form.sign-in-form(action="/certificado/buscar-alumno" method="post")
                #dni.animate__animated.animate__slideInUp(style="display: none")
                    .input-field
                        i.fas.fa-address-card
                        input(type="text" placeholder="DNI" name="dni" minlength="8" maxlength="8")
                #codEstudiante.animate__animated.animate__slideInUp(style="display: none")
                    .input-field
                        i.fas.fa-portrait
                        input(type="text" placeholder="Código del Estudiante" name="codEstudiante" minlength="14" maxlength="14")
                #nombreApellidos.animate__animated.animate__slideInUp(style="width: 700px; display: none")
                    .input-field(style="margin-right: 5px")
                        i.fas.fa-user
                        input(type="text" placeholder="Nombre" name="nombre" )
                    .input-field(style="margin-right: 5px")
                        i.fas.fa-user
                        input(type="text" placeholder="Apellidos Paterno" name="apellidoPater" )
                    .input-field
                        i.fas.fa-user
                        input(type="text" placeholder="Apellidos Materno" name="apellidoMater" )
                input.btn.solid.animate__animated.animate__backInRight(type="submit" value="Buscar")
            table.table.table-hover.table-bordered
                thead.table-success
                    tr.table-primary
                        th(scope="col") DNI
                        th(scope="col") Código del Estudiante
                        th(scope="col") Nombre
                        th(scope="col") Apellidos
                        th(scope="col") Certificado

                if alumnos
                    if (alumnos.length > 1)
                        each alumno in alumnos
                            tbody
                                tr
                                    if (`${alumno.dni}` != "")
                                        td #{alumno.dni}
                                    else
                                        td -
                                    if (`${alumno.codEstudiante}` != "")
                                        td #{alumno.codEstudiante}
                                    else
                                        td -
                                    td #{alumno.nombre}
                                    td(style= "word-spacing: 10px") #{alumno.apellidoPaterno} #{alumno.apellidoMaterno}
                                    td
                                        a.btn-success.btnAccion(href=`/certificado/imprimir/${alumno._id}` role="button" ) Imprimir
                    else
                        tbody
                                tr
                                    if alumnos.dni
                                        td #{alumnos.dni}
                                    else
                                        td -
                                    if alumnos.codEstudiante
                                        td #{alumnos.codEstudiante}
                                    else
                                        td -
                                    td #{alumnos.nombre}
                                    td(style= "word-spacing: 10px") #{alumnos.apellidoPaterno} #{alumnos.apellidoMaterno}
                                    td
                                        a.btn-success.btnAccion(href=`/certificado/imprimir/${alumnos._id}` role="button" ) Imprimir

    script(type="text/javascript" src="/js/animaciones.js")

