mixin actualizarTrabajador(trabajadorBD={})
    .form
        form.sign-in-form(action=`${trabajadorBD._id ? `/trabajador/editar/${trabajadorBD._id}`:'/trabajador/agregar'}` method="post")
          h2.title #{tituloPagina}
          .input-field.animate__animated.animate__zoomIn
            i.fas.fa-user
            input(type="text" placeholder="Nombres" name="nombres" required value=trabajadorBD.nombre)
          .input-field.animate__animated.animate__zoomIn
            i.fas.fa-user
            input(type="text" placeholder="Apellido Paterno" name="apePaterno" required value=trabajadorBD.apellidoPaterno)
          .input-field.animate__animated.animate__zoomIn
            i.fas.fa-user
            input(type="text" placeholder="Apellido Materno" name="apeMaterno" required value=trabajadorBD.apellidoMaterno)
          .input-field.animate__animated.animate__zoomIn
            i.fas.fa-address-card
            input(type="text" placeholder="DNI" name="dni" minlength="8" maxlength="8" required value=trabajadorBD.dni)
          p.animate__animated.animate__backInUp
            label
              if (trabajadorBD.rol == "Director")
                input(type="checkbox" value="si" name="esDirector"  checked)
              else
                input(type="checkbox" value="si" name="esDirector" )
              span Es director
          input.btn.solid.animate__animated.animate__backInRight(type="submit" value=`${trabajadorBD._id ? `Actualizar`:'Agregar'}`)
          if error
            p.error #{error}